/**************************************Polices*****************************************/
@font-face {
    font-family: 'raleway';
    src: url('Fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('Fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:"Raleway Bold";
    src:url("Fonts/Raleway_Bold/Raleway-Bold.eot") format("eot"),
        url("Fonts/Raleway_Bold/Raleway-Bold.woff") format("woff"),
        url("Fonts/Raleway_Bold/Raleway-Bold.ttf") format("truetype"),
        url("Fonts/Raleway_Bold/Raleway-Bold.svg#Raleway-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

/**************************************Général******************************************/
#bloc_page
{
    font-family: 'raleway', sans-serif;
}

h1, h2, h3
{
    font-family: "Raleway Bold", sans-serif;
}

body
{
    margin: 0;
}

ul li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

a:visited
{
    color: black;
}

section
{
    margin: 0 3em;
}

/**************************************Header*********************************************/
header
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 3em;
}

nav ul
{
    display: flex;
    flex-direction: row;
}

nav li
{
    margin-left: 70px;
}

nav a:hover
{
    border-top: 3px solid #0065FC;
    padding-top: 32px;
    color: #0065FC;
}

#inscrire
{
    font-family: 'Raleway-Bold', sans-serif;
}

#inscrire a
{
    color: #0065FC;
    font-weight: bold;
}

#logo img
{
    width: 87px;
    height: 35px;
    padding-top: 30px;
}

/**************************************zone de recherche****************************************/

.intro
{
    display: flex;
    flex-direction: column;
}

.intro h1
{
    margin-bottom: -10px;
    font-size: 1.6em;
}

form
{
    display: flex;
}

#ville
{
    width: 250px;
    height: 3em;
    padding-left: 1em;
    border: 1px solid #F2F2F2;
    font-weight: 900;
}

.position
{
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 12px 18px;
}

#button
{
    width: 110px;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #0065FC;
    color: white;
    font-family: "Raleway Bold", sans-serif;
    font-size: 1em;
}

/**************************************Filtres****************************************/

.filtres-titre
{
    margin-top: 8px;
    font-family: "Raleway Bold", serif;
    font-size: 1.2em;
    padding-right: 15px;
}


.filtres
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 22px;
}

.filtre-tag
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    border-left: none;
    font-family: "Raleway Bold", sans-serif;
    margin-left: 3.2em;
}

.filtre-tag:hover
{
    box-shadow: 5px 5px 3px #DEEBFF;
}

.icone
{
    color: #0065FC;
    font-size: 1.4em;
}

.icone i
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2em;
    min-height: 2em;
    background-color: #DEEBFF;
    border-radius: 100%;
}

.texte
{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    padding-right: 1em;
    padding-left: 1em;
}

.nb_logements
{
    display: flex;
    margin-top: 1.1em;
    margin-bottom: 2em;
}

.nb_logements span
{
    display: flex;
}

.nb_logements i
{
    display: flex;
    width: 1.8em;
    height: 1.8em;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.legende
{
    align-items: center;
    justify-content: center;
    margin-left: 1em;
}

/*********************************Section hébergement*******************************************/

#hotels
{
    display: flex;
}

#hebergements
{
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-left: 2.3em;
    padding-right: 2.3em;
    padding-top: 0.8em;
    height: 100%;
    width: 800px;
    min-height: 600px;
}

.conteneur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card_hebergement
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 6px solid white;
    border-radius: 25px;
    height: 180px;
    margin-bottom: 30px;
    box-shadow: 0 0 12px grey;
}

.card_hebergement img
{
    width: 220px;
    height: 100px;
    border-radius: 20px 20px 0 0;
}

.card_hebergement h3
{
    margin-top: 0;
    margin-bottom: -0.5em;
    font-weight: bold;
    padding-left: 0.4em;
}

.card_hebergement p
{
    font-size: 0.85em;
    padding-left: 0.4em;
}

.suite
{
    font-family: "Raleway Bold", sans-serif;
    font-size: 1.1em;
}

/******************************les plus populaires*****************************/

aside
{
    width: 450px;
    height: 100%;
    margin-left: 2.8em;
    background-color: #F2F2F2;
    border-radius: 30px;
    min-height: 600px;
}

.conteneur2
{
    display: flex;
    flex-direction: column;
}

.titre_populaire
{
    display: flex;
    justify-content: space-between;
    margin-left: 2.3em;
    margin-top: 0.8em;
}

.icone_popularite
{
    font-weight: 900;
    font-size: 1.8em;
    padding-right: 2.3em;
    padding-top: 0.6em;
}

.card_populaire
{
    display: flex;
    background-color: white;
    border: 6px solid white;
    border-radius: 25px;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
    box-shadow: 0 0 12px grey;
    max-height: 145px;
}

.card_populaire a
{
    width: 100%;
}

.image_populaire
{
    width: 38%;
    height: 130px;
    float: left;
    margin-right: 1em;
}

.image_populaire img
{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.text_aside h3
{
    margin-top: 0.5em;
    margin-bottom: -0.6em;
}

.text_aside p
{
    font-size: 0.95em;
    margin-bottom: 3em;
}

/************************************stars*************************************/

.stars, .stars_aside
{
    margin-top: -0.5em;
    color: #0065FC;
    padding-left: 0.4em;
}

.stars i, .stars_aside i
{
    width: 14px;
    height: 11px;
}

.empty_stars
{
    color: #F2F2F2;
}

/**********************************Activités**********************************/

#activites
{
    margin-top: 3em;
}

#activites h2
{
    font-size: 1.5em;
    font-weight: 900;
}

#cards_activites
{
    display: flex;
    height: 500px;
    justify-content: space-between;
}

.card_activite_solo
{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
    margin: 0 1em 0 1em;
}

.title_activite h3
{
    margin: 1em 0 1em 1em;
    font-size: 1.1em;
}

.img_activite_solo img
{
    width: 100%;
    height: 430px;
    border-radius: 20px 20px 0 0;
}

.double_activite
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 500px;
}

.card_activite1
{
    width: 100%;
    height: 255px;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}

.img_activite1 img
{
    width: 100%;
    height: 185px;
    border-radius: 20px 20px 0 0;
}

.card_activite2
{
    width: 100%;
    height: 170px;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}

.img_activite2 img
{
    width: 100%;
    height: 115px;
    border-radius: 20px 20px 0 0;
}

.card_activite3
{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}

.img_activite3 img
{
    width: 100%;
    height: 155px;
    border-radius: 20px 20px 0 0;
}

.card_activite4
{
    width: 100%;
    height: 225px;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}

.img_activite4 img
{
    width: 100%;
    height: 165px;
    border-radius: 20px 20px 0 0;
}

/********************************************Footer***************************************/

footer
{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    font-family: raleway, sans-serif;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

#a_propos
{
    padding-left: 1em;
}

#assistance
{
    padding-right: 10%;
}

footer h3
{
    padding-left: 2.3em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 1.1em;
}

footer li
{
    font-size: 0.9em;
    margin-bottom: 1em;
}

/*****************************************************************************************/
/***************************************media queries*************************************/
/*****************************************************************************************/

@media all and (max-device-width: 590px) /*pour tous les smartphones*/
{
/***********************************navigation*****************************************/
    header
    {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.25em;
        margin: 0;
        border-bottom: 5px #F2F2F2 solid;
    }

    #inscrire
    {
        position: absolute;
        top: 50px;
        right: 5%;
    }

    #logo
    {
        margin-left: 25px;
    }

    #logo img
    {
        width: 35%;
        height: 100%;
        padding-top: 30px;
    }

    nav
    {
        width: 100%;
        margin-top: 0.9em;
    }

    nav li
    {
        margin: 0;
    }

    #nav_activites
    {
        padding-left: 25%;
    }

    nav a:hover
    {
        border-top: none;
        border-bottom: 5px solid #0065FC;
        padding-bottom: 20px;
        color: #0065FC;
    }

    /***********************************titre et recherche***************************************/

    section
    {
        margin: 0 1.2em;
    }
    
    .intro h1
    {
        font-size: 1.55em;
    }

    .intro p
    {
        font-size: 1.1em;
        margin: 1.25em 0 1.7em 0;
    }

    /***************************************filtres********************************************/

    .filtres-titre
    {
        width: 100%;
        margin-bottom: 0.8em;
    }

    .filtre-tag
    {
        margin: 0 0.3em 0.4em 0;
    }

    /**********************************order*********************************************/

    #hotels #hebergements
    {
        order: 2;
    }

    #hotels aside
    {
        order: 1;
    }

    /********************************populaires****************************************/

    #hotels
    {
        flex-direction: column;
        margin: 0;
    }

    .titre_populaire
    {
        margin-left: 1.5em;
    }

    aside
    {
        margin-left: 0;
        margin-bottom: 1.5em;
        border-radius: 0%;
        width: 100%;
    }

    .card_populaire
    {
        width: 88%;
    }

    /*****************************hébergements*******************************************/

    #hebergements
    {
        flex-direction: column;
        width: 100%;
        padding-top: 0%;
        border-radius: 0%;
        background-color: #FFFFFF;
        padding: 0%;
    }

    #hebergements h2
    {
        padding-left: 1em;
    }

    .card_hebergement
    {
        width: 88%;
        margin: auto;
        margin-bottom: 1em;
    }

    .card_hebergement img
    {
        width: 100%;
    }

    .suite
    {
        padding-left: 1.5em;
    }

    /***********************************activités***************************************/

    #cards_activites
    {
        flex-direction: column;
        height: 100%;
    }

    #cards_activites img
    {
        height: 140px;
    }

    .card_activite_solo, .card_activite1, .card_activite2, .card_activite3, .card_activite4
    {
        height: 190px;
        width: 100%;
        margin-bottom: 1.1em;
    }

    .double_activite
    {
        height: 100%;
        width: 100%;
    }

    .card_activite_solo
    {
        margin: 0 0 1.1em 0;
    }

    /************************************footer*******************************************/

    footer
    {
        flex-direction: column;
    }

    footer h3
    {
        margin-bottom: 0;
    }

    #a_propos, #nos_hebergements, #assistance
    {
        margin: 0;
    }

    #a_propos
    {
        padding-left: 0;
    }
}

@media all and (min-device-width: 478px) and (max-device-width: 590px)
{
    nav ul
    {
        justify-content: space-around;
    }

    #nav_activites
    {
        padding-left: 0;
    }

    #inscrire
    {
        position: relative;
        top: 0;
        right: 0;
    }

    .card_hebergement
    {
        width: 45%;
    }
}

@media all and (min-device-width: 591px) and (max-device-width: 950px)
{
    /**************************************Header*********************************************/
    header
    {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin: 0 3em;
    }

    nav ul
    {
        display: flex;
        flex-direction: row;
    }

    nav li
    {
        margin-left: 50px;
    }

    nav a:hover
    {
        border-top: 3px solid #0065FC;
        padding-top: 32px;
        color: #0065FC;
    }

    #inscrire
    {
        font-family: 'Raleway-Bold', sans-serif;
    }

    #inscrire a
    {
        color: #0065FC;
        font-weight: bold;
    }

    #logo img
    {
        width: 87px;
        height: 35px;
        padding-top: 30px;
    }

    /***********************************titre et recherche***************************************/

    section
    {
        margin: 0 1.2em;
    }
    
    .intro h1
    {
        font-size: 1.55em;
    }

    .intro p
    {
        font-size: 1.1em;
        margin: 1.25em 0 1.7em 0;
    }

    /***************************************filtres********************************************/

    .filtres-titre
    {
        width: 100%;
        margin-bottom: 0.8em;
    }

    .filtre-tag
    {
        margin: 0 0.3em 0.4em 0;
    }

    /**********************************order*********************************************/

    #hotels #hebergements
    {
        order: 2;
    }

    #hotels aside
    {
        order: 1;
    }

    /********************************populaires****************************************/

    #hotels
    {
        flex-direction: column;
        margin: 0;
    }

    .titre_populaire
    {
        margin-left: 1.5em;
    }

    aside
    {
        margin-left: 0;
        margin-bottom: 1.5em;
        border-radius: 0%;
        width: 100%;
    }

    .card_populaire
    {
        width: 65%;
    }

    /*****************************hébergements*******************************************/

    #hebergements
    {
        flex-direction: column;
        width: 100%;
        padding-top: 0%;
        border-radius: 0%;
        background-color: #FFFFFF;
        padding: 0%;
    }

    #hebergements h2
    {
        padding-left: 1em;
    }

    .card_hebergement
    {
        width: 45%;
        margin: auto;
        margin-bottom: 1em;
    }

    .card_hebergement img
    {
        width: 100%;
    }

    .suite
    {
        padding-left: 1.5em;
    }

    /***********************************activités***************************************/

    #cards_activites
    {
        flex-direction: row;
        height: 100%;
        flex-wrap: wrap;
    }

    #cards_activites img
    {
        min-height: 275px;
    }

    .card_activite_solo, .card_activite1, .card_activite2, .card_activite3, .card_activite4
    {
        height: 330px;
        width: 100%;
        margin-bottom: 1.1em;
    }

    .double_activite
    {
        height: 100%;
        width: 45%;
    }

    .card_activite_solo
    {
        margin: 0 0 1.1em 0;
        width: 45%;
        height: 100%;
    }
}

@media all and (min-device-width: 716px) and (max-device-width: 950px)
{
    .card_hebergement
    {
        width: 30%;
    }    
}

@media all and (min-device-width: 950px) and (max-device-width: 1165px)
{
    .text_aside
    {
        font-size: 0.82em;
    }
}


@media all and (min-device-width: 331px) and (max-device-width: 480px)
{
    #ville
    {
        width: 55%;
    }

    #button
    {
        width: 25%;
    }
}

@media all and (min-device-width: 478px) and (max-device-width:590px)
{
    .card_activite_solo, .card_activite1, .card_activite2, .card_activite3, .card_activite4
    {
        width: 80%;
        margin: auto;
        margin-bottom: 1.2em;
    }
}

@media all and (max-device-width: 330px)
{
    form
    {
        width: 100%;
        flex-wrap: wrap;
    }

    .position
    {
        display: none;
    }

    #ville
    {
        width: 100%;
        border-radius: 15px;
    }

    #button
    {
        width: 40%;
        margin-top: 1em;
        border-radius: 5px;
    }

    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 25%;
    }

    #inscrire
    {
        position: initial;
    }


}